/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.navbar-links li {
    position: relative;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 5px 20px;
}

.dropdown-content li a {
    color: black;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: #f0f0f0;
}
 /* End Navbar */

 /* Footer */
 .application-footer {
    height: 60px;
    background-color: white;
    max-width: 100%;
    font-size: 14px;
    position: relative !important;
    bottom: 0;
    z-index: -1;
    margin-top: 20px;
    padding: 0px 20px;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
}
 /* End footer */